
body {
    margin: 0;
}

.button {
    text-align: center;
    padding: 30px 30px 10px 30px;
    display: grid;
    text-decoration: none;
    font-size: 25px;
    color: hsl(217, 55%, 49%); 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border-style: solid;
    border-color:hsl(207, 82%, 50%); 
    border-width: 0px;
    background-color:hsl(207, 82%, 50%); 
    width: 250px;
    height: 50px;
    border-radius: 25px;;
    
}

a:active {
    color: hsl(217, 82%, 50%); 
}

a {
    color: white;
    text-decoration: none;;
  
}

a:visited {
    color: hsl(217, 82%, 10%); 
}
a:hover {
    color: hsl(217, 82%, 40%); 
    transition: 250ms; 
}

a: